@model PedidosGarcomMvc.Models.Pedido

@{
    ViewData["Title"] = "Detalhes";
}

<h2>Detalhes do pedido</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Mesa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mesa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Solicitante)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Solicitante)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prato)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prato)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quantidade_Prato)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantidade_Prato)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bebida)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bebida)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quantidade_Bebida)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantidade_Bebida)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-default">Retornar</a>
</div>
